{% set diabled = false %}

{% if isRevokedSharing and not diabled %}
    {% set diabled = true %}
{% endif %}

{% if isOneTimeSharing and not diabled and door in sharing.openedDoors %}
    {% set diabled = true %}
{% endif %}

{% set submitConfirm = '' %}

{% if isOneTimeSharing %}
    {% set submitConfirm = 'one_time_sharing.open.confirm'|trans({}, 'link_sharings') %}
{% endif %}

<div class="row margin-bottom">
    <div class="col-md-12 text-center">
        <form action="{{ actionLink }}"
              method="POST" {% if submitConfirm is not empty %} onsubmit="return confirm('{{ submitConfirm }}');" {% endif %}>
            <button class="text-center open-door-btn" title="{{ title|e }}"
                    {% if diabled %} disabled="disabled"{% endif %}>
                <i class="glyphicon glyphicon-lock"></i><br/>
                <span>{{ title }}</span>
            </button>
            <input type="hidden" name="open-door" value="{{ door.id }}">
        </form>
    </div>
</div>