{% extends "::base.html.twig" %}

{% block title %}{% trans from "link_sharings" %}page.title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/base.css') }}">
{% endblock %}

{% block body %}
    {% set lockNumber = 0 %}
    {% set openPath = path('link_sharing_show', {'token': token }) %}

    {% set location = sharing.reservation.box.location %}

    {% if sharing is instanceof('AppBundle\\Entity\\OneTimeSharing') %}
        {% set isOneTimeSharing = true %}
        {% set isPeriodSharing = false %}
    {% else %}
        {% set isOneTimeSharing = false %}
        {% set isPeriodSharing = true %}
    {% endif %}

    {% if isOneTimeSharing %}
        {% if sharing.status == constant('AppBundle\\Entity\\OneTimeSharing::STATUS_REVOKED') %}
            {% set isRevokedSharing = true %}
        {% else %}
            {% set isRevokedSharing = false %}
        {% endif %}
    {% elseif isPeriodSharing %}
        {% if sharing.status == constant('AppBundle\\Entity\\PeriodSharing::STATUS_REVOKED') %}
            {% set isRevokedSharing = true %}
        {% else %}
            {% set isRevokedSharing = false %}
        {% endif %}
    {% endif %}

    <div class="row margin-bottom">
        <div class="col-md-12 text-center">
            <img src="{{ asset('bundles/app/img/logo-mini.png') }}"/>
        </div>
    </div>

    <div class="row margin-bottom">
        <div class="col-md-8 col-md-offset-2 text-justify">
            {% trans from "link_sharings" %}page.description{% endtrans %}
        </div>
    </div>

    <div class="row margin-bottom">
        <div class="col-md-8 col-md-offset-2 text-justify">
            {% trans from "link_sharings" %}location.description{% endtrans %}
        </div>
        <div class="col-md-8 col-md-offset-2 text-justify">
            {{ location.locationDescription }}
        </div>
        <div class="col-md-8 col-md-offset-2 text-justify">
            {{ location.street }}, {{ location.city }}
        </div>
        <div class="col-md-8 col-md-offset-2 text-justify">
            {% trans from "link_sharings" %}location.link{% endtrans %} <a
                    href="http://www.google.com/maps/place/{{ location.latitude }},{{ location.longitude }}"
                    target="_blank">http://www.google.com/maps/place/{{ location.latitude }}
                ,{{ location.longitude }}</a>
        </div>
    </div>

    {% if isOneTimeSharing %}
        <div class="row margin-bottom">
            <div class="col-md-8 col-md-offset-2 text-justify">
                {% trans from "link_sharings" %}one_time_sharing.description{% endtrans %}
            </div>
        </div>
        {% if isRevokedSharing %}
            <div class="row margin-bottom">
                <h2 class="col-md-8 col-md-offset-2 text-center">
                    {% trans from "link_sharings" %}one_time_sharing.revoked{% endtrans %}
                </h2>
            </div>
        {% endif %}
    {% endif %}

    {% if isPeriodSharing %}
        <div class="row margin-bottom">
            <div class="col-md-8 col-md-offset-2 text-justify">
                {% trans from "link_sharings" %}period_sharing.description{% endtrans %}
            </div>
        </div>
        {% if isRevokedSharing %}
            <div class="row margin-bottom">
                <h2 class="col-md-8 col-md-offset-2 text-center">
                    {% trans from "link_sharings" %}period_sharing.revoked{% endtrans %}
                </h2>
            </div>
        {% elseif sharing.status == constant('AppBundle\\Entity\\PeriodSharing::STATUS_ACTIVE') %}
            <div class="col-md-8 col-md-offset-2 text-justify">
                <div class="counter">
                    <h3>{% trans from "link_sharings" %}period_sharing.end_date{% endtrans %}</h3>
                    <div id="countdown">
                        till {{ sharing.endDate|date('H:i:s d.m.Y') }}
                    </div><!-- /#Countdown Div -->
                </div> <!-- /.Counter Div -->
            </div>
            <script>
                $(function () {
                    countdownTimer('countdown', new Date('{{ sharing.endDate|date('D M d Y H:i:s O') }}'))
                });
            </script>
        {% endif %}
    {% endif %}

    {% for locationDoor in sharing.reservation.box.doors %}
        {% set lockNumber = lockNumber + 1 %}

        {% include ':LinkSharing:lock-button.html.twig' with {
        'actionLink': openPath,
        'title': '#' ~ lockNumber ~ ' ' ~ locationDoor.description,
        'door': locationDoor
        } %}
    {% endfor %}

    {% set lockNumber = lockNumber + 1 %}

    {% include ':LinkSharing:lock-button.html.twig' with {
    'actionLink': openPath,
    'title': '#' ~ lockNumber ~ ' Box door',
    'door': sharing.reservation.box.boxDoor
    } %}

    <div class="row margin-bottom">
        <div class="col-md-offset-2 col-md-3  text-center margin-bottom">
            <a href="#" target="_blank"><img src="{{ asset('bundles/app/img/app-store-badge.png') }}" alt="app store"/></a>
        </div>
        <div class="col-md-offset-2 col-md-3  text-center margin-bottom">
            <a href="#" target="_blank"><img src="{{ asset('bundles/app/img/google-play-badge.png') }}"
                                             alt="google play"/></a>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/countdown-timer.js') }}"></script>
{% endblock %}
