<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <style>
        * {
            font-family: Helvetica, sans-serif;
            font-size: 14px;
            line-height: 1.1;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="row text-center">
        <img src="{{ asset('bundles/app/img/logo.jpg') }}" style="max-width: 30%; margin-bottom: 50px;">
    </div>

    <div class="row text-center">

        <div class="col-md-4 col-md-offset-4">

            {% if form is defined %}
                <form action="{{ path('user_set_new_password', {'token': token}) }}" {{ form_enctype(form) }}
                      method="POST"
                      class="fos_user_resetting_reset">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="form-group">
                        {{ form_label(form.new.first, 'New password') }}
                        {{ form_errors(form.new.first) }}
                        {{ form_widget(form.new.first, {'attr': {'class': 'form-control text-center'}}) }}
                    </div>

                    <div class="form-group">

                        {{ form_label(form.new.second, 'New password confirmation') }}
                        {{ form_errors(form.new.second) }}
                        {{ form_widget(form.new.second, {'attr': {'class': 'form-control text-center'}}) }}
                    </div>

                    <div>
                        <input class="btn btn-success" type="submit" value="Change password"/>
                    </div>

                    {{ form_end(form) }}
                </form>

            {% else %}
                <h3>{{ success_message }}</h3>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>