<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
    <style type="text/css">
        * {
            font-family: Helvetica, sans-serif;
            font-size: 11px;
            line-height: 1.1;
        }

        @page {
            margin: 0;
        }

        table tr th {
            background-color: #80a72e;
            color: white;
            padding: 5px;;
        }

        table tr td {
            padding: 8px;
            vertical-align: top;
        }

        table tr.striped > td {
            background-color: #ddd;
        }

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
            color: #ddd;
            background-color: #ddd;
            box-shadow: none;
        }

        .table-with-borders {
            border-collapse: collapse;
        }

        .table-with-borders tr td {
            border: solid 2px #000000;
        }

        .table-clear-borders tr td {
            border: none;
        }

        .table-form tr td {
            background-color: #ffffff;
            border: solid 2px #c0c0c0;
            padding: 4px;
        }

        .payment-info-continued tr td {
            padding: 0 10px 0 10px;
        }

        .continued-invoice-table .list-head td {
            padding: 5px;
        }

        .continued-invoice-table .list-item td {
            padding: 0 5px 0 5px;
        }

        .final-demand-table .list-item td {
            border-top: none;
            border-bottom: none;
            padding: 0 10px 0 10px;
        }

        .final-demand-table .list-item-space td {
            height: 10px;
        }

        .final-demand-table .head td {
            padding: 10px;
        }

        .final-demand-table .footer td {
            padding: 10px;
        }

        .general-invoice {
            border-collapse: collapse;
            border-left: solid 1px #ddd;
            border-right: solid 1px #ddd;
            border-bottom: solid 1px #ddd;
        }
    </style>
</head>
<body>

{% set taxFreePrice =(invoice.durationPrice/((100+invoice.taxPercent)/100))|round(2,'ceil') %}

<div style="padding-left: 30px; padding-right: 30px;">
    <table style="width: 100%">
        <tr>
            <td align="left" style="padding-top: 40px;">
                <table width="100%">
                    <tr>
                        <td style="padding: 3px;"></td>
                        <td width="90%" style="padding: 3px;">
                            placeB AG
                        </td>
                    </tr>
                    <tr>
                        <td><img src="{{ absolute_url(asset('bundles/app/img/location.png')) }}"
                                 style="width: 16px;height: 16px;"></td>
                        <td>
                            Hafnerstrasse 13<br/>
                            8005 Zürich
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{{ absolute_url(asset('bundles/app/img/message.png')) }} "
                                 style="width: 16px;height: 14px; margin-bottom: 3px;"><br/>
                            <img src="{{ absolute_url(asset('bundles/app/img/phone.png')) }}"
                                 style="width: 16px;height: 16px;">

                        </td>
                        <td>
                            <div style="padding-top: 2px;">Info@placeb.place</div>
                            <div style="padding-top: 6px;">+41 43 273 9191</div>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="70%" align="right" style="padding-right: 0px;">

                <img src="{{ absolute_url(asset('bundles/app/img/logo.jpg')) }}"
                     style="height: 139px;width: 293px; ">

            </td>
        </tr>
    </table>


    <table width="100%" style="margin-bottom: 20px;margin-top: 70px;">
        <tr>
            <td width="10%" bgcolor="#80a72e">
                <span style="color:white; font-weight: bold;">&nbsp;RECHNUNG</span>
            </td>
            <td></td>
        </tr>
    </table>
    <br/>
    <table width="100%">
        <tr>
            <td width="25%"><span style="color: #868686">Rechnungs Nr.:</span></td>
            <td width="25%">{{ invoice.id }}</td>
            <td width="25%"><span style="color: #868686">Rechnungsadresse:</span></td>
            <td width="25%" rowspan="3">
                {{ invoice.reservation.user.firstName }} {{ invoice.reservation.user.lastName }} <br/>
                {{ invoice.reservation.user.company }} <br/>
                {{ invoice.reservation.user.street }}<br/>
                {{ invoice.reservation.user.zip }} {{ invoice.reservation.user.city }}<br/>
                {{ invoice.reservation.user.country }}
            </td>
        </tr>
        <tr>
            <td><span style="color: #868686">Rechnungs Datum:</span></td>
            <td>{{ invoice.created| date(date_format) }}</td>

        </tr>
        <tr>
            <td><span style="color: #868686">Kunden Nr.:</span></td>
            <td>{{ invoice.reservation.user.id }}</td>
        </tr>

    </table>

    <hr/>

    <table width="100%">
        <tr>
            <td width="25%"><span style="color: #868686">placeBox Standort:</span></td>
            <td width="25%">{{ invoice.reservation.box.location.name }}</td>
            <td width="25%"><span style="color: #868686">Nutzungsbeginn:</span></td>
            <td width="25%">{{ invoice.reservation.startDate |date(date_format) }}</td>
        </tr>
        <tr>
            <td><span style="color: #868686">placeBox Nummer:</span></td>
            <td>{{ invoice.reservation.box.boxId }}</td>
            <td><span style="color: #868686">Minimum Nutzungdauer:</span></td>
            <td>{{ invoice.duration }} {{ invoice.durationUnit }}</td>
        </tr>
        <tr>
            <td><span style="color: #868686">placceBox Kategorie:</span></td>
            <td>{{ invoice.reservation.box.category.title }}</td>
            <td><span style="color: #868686">Rechnungsperiode: </span></td>
            <td>{{ invoice.startDate|date(date_format) }} - {{ invoice.endDate|date(date_format) }}</td>
        </tr>
    </table>
    <hr style="margin-bottom: 30px;"/>


    <table width="100%" class="general-invoice">
        <tr>
            <th>Rechnungsposition:</th>
            <th>Menge</th>
            <th align="right">Einheitspreis</th>
            <th align="right">Total</th>
        </tr>
        <tr>
            <td>placeBox-Nutzung</td>
            <td>{{ invoice.duration }} {{ invoice.durationUnit }}</td>
            <td align="right">CHF {{ taxFreePrice |number_format(2, '.', ',') }}</td>
            <td align="right">CHF {{ taxFreePrice |number_format(2, '.', ',') }}</td>
        </tr>
        <tr class="striped">
            <td>Mehrwertsteuer</td>
            <td>1</td>
            <td align="right">{{ invoice.taxPercent }}%</td>
            <td align="right">
                CHF {{ (invoice.durationPrice - taxFreePrice) |number_format(2, '.', ',') }}
            </td>
        </tr>
        <tr>
            <td><b>Zwischensumme</b></td>
            <td></td>
            <td align="right"></td>
            <td align="right"><b>CHF {{ (invoice.durationPrice) |number_format(2, '.', ',') }}</b>
            </td>
        </tr>
        <tr class="striped">
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Versicherung des Lagerguts</td>
            <td>{{ invoice.duration }} {{ invoice.durationUnit }}</td>
            <td align="right">CHF {{ invoice.boxValue |number_format(2, '.', ',') }}</td>
            <td align="right">CHF {{ (invoice.insuranceValue) |number_format(2, '.', ',') }}</td>
        </tr>
        <tr class="striped">
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>Total belastet inkl. Mehrwertsteuer</b></td>
            <td></td>
            <td align="right"></td>
            <td align="right">
                <b>CHF {{ (invoice.durationPrice+invoice.insuranceValue) |number_format(2, '.', ',') }}</b>
            </td>
        </tr>
    </table>


    {% if invoice.reservation.manual==true %}
        <div style="">
            <p style="color: #5c7c88; margin-top: 50px;"> Zahlungskondition: Zahlbar innert 14 Tagen</p>
            <table>
                <tr>
                    <td width="3%" style="padding-left:0px;"><strong>Zahlungsdetails</strong></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <td width="3%" style="padding-left:0px;">Zahlungsempfänger:</td>
                    <td width="25%">PlaceB AG</td>
                </tr>
                <tr>
                    <td width="3%" style="padding-left:0px;">Bank:</td>
                    <td width="25%">UBS AG, 8098 Zürich</td>
                </tr>
                <tr>
                    <td width="3%" style="padding-left:0px;">IBAN:</td>
                    <td width="25%">CH 12 0027 3273 1300 1201 W</td>
                </tr>
                <tr>
                    <td width="3%" style="padding-left:0px;">MwST Nr:</td>
                    <td width="25%">CHE-445.902.616 MWST</td>
                </tr>
            </table>
        </div>
    {% else %}
        <div style="">
            <p style="color: #5c7c88; margin-top: 100px;"> Zahlungskondition: </p>

            <p style="margin-top: 20px;">Deine Kreditkarte wurde erfolgreich belastet. Auf der Kreditkartenabrechnung
                erscheint die placeB AG als Rechnungssteller.</p>
            <table>
                <tr>
                    <td width="25%" style="padding-left:0px;">placeB MwSt-Nr:</td>
                    <td width="25%"></td>
                    <td width="25%">CHE-445.902.616 MWST.</td>
                    <td width="25%"></td>
                </tr>
            </table>
        </div>
    {% endif %}
</div>

</body>
</html>
